CODEXPORT_RELAY_LISTEN_HOST=0.0.0.0
CODEXPORT_RELAY_PORT=8080
CODEXPORT_RELAY_PUBLISHED_PORT=8080
CODEXPORT_RELAY_PUBLIC_BASE_URL=https://codexport.smarteffi.net
CODEXPORT_RELAY_STORAGE_PATH=/var/lib/codexport-relay
CODEXPORT_RELAY_LOG_LEVEL=info
CODEXPORT_RELAY_TLS_MODE=reverse-proxy
